body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    width: 100%;    
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.form-label {
    font-weight: 600;
}
.btn-success {
    width: 100%;
    font-weight: 700;
}
.form-control {
    border-radius: 5px;
}
.input-group-text {
    background: #fff;
    border-right: none;
}
.form-control:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}